<!--  supporting info -->
<html xmlns:th="http://www.thymeleaf.org">
<!-- head of the page and declares whate character type is used -->
<head>
    <!--calling style sheets for the page-->
    <!-- Milligram stylesheet -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- making the title of the page -->
    <title>Create Tasks</title>
</head>

<!-- body of the webpage -->
<body>

<!--head for the page -->
<h1>Enter a new task</h1>

<!-- creating a form action to post to db -->
<form action="#" method="POST" th:action="@{/addTask}" th:object="${task}">
    <input type="text" placeholder="task description" th:field="*{text}" />
    Urgent? <input type="checkbox" th:field="*{urgent}" />
    <br>
    <!--button for the form-->
    <button id="add-task">Add Task</button>
</form>

<a href="/allTasks">All Task</a>

</body>
</html>